/*
    Colony selector main
*/

.colony-selector{
    margin: 5%;
    padding: 5%;
    background-color: blue;
}

.colony-selector-hide-button{
    width: 100px;
    float: right;
}



/*
    Colony list connected attributes
*/

.colony-list{

    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 5px black solid;
    border-bottom: 5px black solid;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    height: auto;
    overflow: hidden;
    text-align: center;
    background-color: rgb(240, 240, 240);
}

.colony-container{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 10%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.colony-icon{
    display: block;
    width: 100%;
    height: auto;
}
  
.colony-text{
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 1.25vw;
    font-family: sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}